body                                {background-color:#000000;font-family:'Verdana',sans-serif;}
/*SideBar*/
.sidebar                            {position:fixed;top:0rem;left:0rem;padding:.75rem;width:15rem;}/*       padding:15px;width:300px;*/
.sidebar-nav                        {background-color:#102030;border-radius:.5rem;cursor:pointer;}/*border-radius:15px;padding:15px 0px 0px 15px;}*/
.sidebar-nav .logo                  {background      :#1DB955;display:flex;border-radius:.5rem;padding:1rem 1rem 1rem 1rem;}/*border-radius:10px;padding:15px 0px 0px 15px;*/
.sidebar-nav .logo img              {width:5rem}/*width:88px*/
.sidebar nav ul                     {list-style:none;margin-top:1.25rem;padding:0rem 1.25rem .625rem 1.25rem;}/*margin-top:20px;padding:0px 20px 10px 20px;*/
.sidebar nav ul li                  {padding:.625rem 0rem;}/*padding:10px 0px;*/
.sidebar nav ul li   a              {           color:#C0C0C0;text-decoration:none;font-size:.875rem;font-weight:750;}/*font-size:15px;*/
.sidebar nav ul li   a:hover        {           color:#F0F0F0;}
.sidebar nav ul li .fa              {                                                font-size:1.25rem;font-weight:250;margin-right:.625rem;}/*font-size:20px;margin-right:10px;*/
.library                            {background-color:#102030;border-radius:.5rem;display: flex;flex-direction:column;justify-content:space-between;/*border-radius:15px;*/
                                                color:#C0C0C0;font-size:.875rem;font-weight:750;margin-top:.625rem;padding:.25rem .5rem;min-block-size:2.5rem;}/*font-size:15px;font-weight:750;margin-top:10px;padding:5px 10px;min-block-size:50px;*/
.library .library-content           {display:flex;justify-content:space-between;}
.library .library-content .fa-plus  {margin:1.5rem .625rem;}/*margin:25px 10px;*/
.library .library-button            {background-color:transparent;color:#C0C0C0;display:flex;border:0rem;margin-right:10px;padding:1.25rem .625rem;/*border:0px;margin-right:10px;padding:20px 10px*/
                                     font-size:1rem;font-weight:750;text-align:center;text-transform:none;text-decoration:none;}/*font-size:15px;*/
.library .library-button  .fa       {font-size:1.25rem;font-weight:250;margin-right:.625rem;padding-right:.5rem;}/*color:#C0C0C0;font-size:20px;font-weight:250;margin-right:10px;padding-right:10px;*/
.playlist                           {background-color:#102030;color:#C0C0C0;align-items:flex-start;justify-content:space-between;gap:1.25rem;/*gap:20px*/
                                     border-radius:.5rem;font-size:.875rem;font-weight:750;margin:.5rem 0rem;padding:1rem 1.25rem;}/*border-radius:10px;font-size:15px;font-weight:750;margin:10px 0px;padding:15px 20px*/
.playlist .playlist-content         {display:flex;flex-direction:column;}
.playlist-content .text             {           color:#F0F0F0;padding-bottom:.875rem;}/*padding-bottom:15px*/
.playlist-content    .title         {font-weight:750;}
.playlist-content .subtitle         {font-weight:500;font-size:.875rem;}/*font-size:15px;*/
.playlist-content .playlist-button  {background-color:#F0F0F0;color:#000000;border:0rem;border-radius:5rem;display:flex;justify-content:center;
                                     font-size: 1rem ;font-weight:bold;text-decoration:none;text-transform:none;width: 10rem; margin-top:1rem;padding:.625rem;}/*margin-top:15px;padding:10px;width:115px;*/
/*
.sidebar .cookies                   {margin:25px 20px;}
.sidebar .cookies a                 {           color:#C0C0C0;font-size:.625rem;font-weight:500;text-decoration:none;}
.sidebar .cookies a:hover           { text-decoration:underline;}*/
.languages .languages-button        {background-color:transparent;color:#F0F0F0;border:.0625rem solid #C0C0C0;border-radius:50rem;
                                     cursor:pointer;align-items:center;font-weight:bold;width:10rem;margin:.625rem;padding:.625rem;/*10px~.625rem*/
                                     position:fixed;bottom:7.5rem;}
/*Footer*/
.premium                            {background:linear-gradient(to right,#252525,#3BCDEF);display:flex;position:fixed;justify-content:space-between;
                                     bottom:1.25rem;left:0rem;right:0rem;padding:1rem;}/*background: linear-gradient(to right, #AE2895, #510BF5);*/
.premium .text                      {flex-shrink:0rem;}
.premium .premium-title             {           color:#F0F0F0;text-transform:uppercase;font-size:  1rem;font-weight:500;margin-bottom:.625rem;}
.premium .premium-subtitle          {           color:#F0F0F0;                         font-size:.75rem;font-weight:500;}
.premium button                     {background-color:#F0F0F0;color:#000000;border:0rem;border-radius:5rem;cursor:pointer;
                                           flex-shrink:0rem;font-size: 1rem;font-weight:bold;padding:1.15rem;}
.cookies                            {position:fixed;left:.5rem;bottom:.5rem;padding:.5rem;}/*margin: 1.15rem 1.15rem;*/
.cookies a                          {           color:#808080;font-size:.625rem;font-weight:250;text-decoration:none;}/*10px~.625rem*/
.cookies a:hover                    {           color:#F0F0F0;   cursor:pointer;                text-decoration:underline;}
/*DataVision*/
.DataVision                         {           color:#F0F0F0;display:flex;position:fixed;align-items:center;justify-content:center;
                                     font-size:smaller;bottom:0rem;left:0rem;right:0rem;padding:0rem 50px;}
p    #bold                          {font-weight:bold;}
span #bold                          {font-weight:bold;}
span #foot                          {font-family:Georgia,serif;font-weight:bold;text-decoration:underline;text-decoration-color:#0065FF;}                  
/*classes*/
.center                             {text-align:center;}
/*Header*/
.main                               {height:100rem;max-width:85rem;margin-left:15rem;margin-right:2.5rem;}/*height:100vh;max-width:75vw;margin-left:300px;margin-right:50px;*/
.header                             {background-color:#252525;display:flex;justify-content:space-between;align-items:center;
                                     border-radius:.5rem;margin:1.25rem;padding:.625rem;}/*border-radius:10px;margin:20px;padding:10px;*/
.header .nav                        {display:flex;align-items:center;justify-content:space-around;}
.header .nav .return                {margin-right:.9375rem;}/*15px*/
.return,.advance                    {background-color:rgba(0,0,0,10);background:#252525;display:flex;justify-content:center;align-items:center;
                                     border-radius:50%;border:none;cursor:pointer;height:2rem;width:2rem;}/*height:30px;width:30px;*/
.headlogin                          {display:flex;align-items:center;}
.search                             {background-color:#252525;border:.0625rem solid transparent;border-radius:30rem;display:flex;align-items:center;
                                     height:3rem;width:30rem;margin-left: .5rem;}/*1px;height:50px;width:350px;margin-left:.625rem*/
.search:hover                       {border:.0625rem solid #F0F0F0}
.search img                         {height:1rem;width: 1rem;margin-left:1.25rem;}
.search input                       {background      :transparent;color:#F0F0F0;border:none;outline:none;overflow:hidden;text-overflow:ellipsis;
                                     white-space:nowrap;padding:0rem 6.25rem 0rem .75rem;}/*padding:0px 100px 0px 15px;*/
.headlogin .signup                  {background-color:transparent;color:#C0C0C0;        font-size:1rem;font-weight:bold;margin-right :  2rem;}/*35px*/
.headlogin .signup:hover            {           color:#F0F0F0;transform:scale(1.05);}
.headlogin .login                   {           color:#000000;height:3rem;width:6.25rem;font-size:1rem;font-weight:bold;border-radius:2.5rem;}/*height:50px;width:100px;font-size:1rem;font-weight:750;border-radius:50px*/
.headlogin .login :hover            {           color:#1DB955;transform:scale(1.05);}
/*PlayList*/
.playlist-container                 {background-color:#102030;border-radius:.625rem;margin:1.25rem;height:70vh;padding-top:1rem;}
.playlist-main                      {margin:3rem;}/*margin:25px;*/
.playlist-main #greeting            {color:#F0F0F0;font-size:  2rem;font-weight:750;margin-bottom:3rem;}/*margin-bottom:50px;*/
.playlist-main .session             {color:#F0F0F0;font-size:1.5rem;font-weight:750;}/*font-size:25px;*/
/*Scroll*/
.scroll                             {overflow-y:auto;margin:3rem;max-height:50vh;}/*margin:25px;max-height:45vh;*/
.scroll::-webkit-scrollbar          {width:.0625rem;}/*width:1px;*/
.scroll::-webkit-scrollbar-thumb    {background-color:transparent;}
.list-item                          {/*CODIGO COM JS CALCULANDO OS CARDS POR COLUNA*/
                                    display:grid;gap:1rem;grid-gap:2rem;margin:0rem auto;}/*gap:15px;grid-gap:30px;margin:0rem auto;*/
                                    /*justify-items:center;grid-template-columns: 1fr 1fr 1fr 1fr;margin-bottom:15px*/
.list-item img                      {transform:rotate(25deg) translate(18%,-2%);position:absolute;right:0rem;bottom:0rem;width:100px;height:auto;}
/*POSITION*/
                                    /*Principais are static, relative, absolute, fixed, sticky*/
                                    /* relative: comportamento em relação a si mesmo – o elemento é posicionado em relação à sua posição original,
                                    mantendo o espaço original que o elemento ocuparia, não alterado esses espaço, mas podendo ser movido com top, right, bottom ou left;*/
.cards                              {position:relative;overflow:hidden;border-radius:.5rem;width:13.75rem;height:12.5rem;}/*border-radius:10px;width:220px;height:200px;*/
                                    /* absolute: comportamento em relação ao ancestral posicionado mais próximo ou ao elemento raiz (se nenhum ancestral estiver posicionado),
                                    removendo o elemnto do fluxo normal do documento, o que significa que outros elementos agem como se o elemento não estivesse presente;*/
.cards span                         {color:#F0F0F0;position:absolute;font-size:1.5rem;font-weight:750;padding:1rem;}/*font-size:25px;font-weight:750;padding:15px;*/
/*COLOR CARDS*/
.card1                              {background-color:rgb(  0, 100,  80);}
.card2                              {background-color:rgb(130,   0, 230);}
.card3                              {background      :rgb( 30,  50, 100);}
.card4                              {background      :rgb(140,  25,  50);}
.card5                              {background      :rgb(230,  15,  90);}
.card6                              {background      :rgb( 85, 120, 160);}
.card7                              {background      :rgb(140, 100, 170);}
.card8                              {background      :rgb( 20, 140,  10);}
.card9                              {background      :rgb( 30,  50, 100);}
.card10                             {background      :rgb(235,  20,  40);}
.card11                             {background      :rgb( 80,  55,  80);}
.card12                             {background      :rgb(215,  65,   0);}
.card13                             {background      :rgb(185,  95,  10);}
.card14                             {background      :rgb(  0,  30,  80);}
.card15                             {background      :rgb( 60,  30,  80);}
/*ARTIST CARDS*/
.artist                             {column-count:5;grid-gap:2.5rem;min-width:45rem;}
.hidden                             {   display: none ;}
#artistList                         {   display: none ;}
.grid-container                     {grid-gap:2.5rem;display:grid;grid-template-columns:repeat(column-count(5), minmax(0, 1fr));min-width:45rem;}
.artist-card                        {background:#252525;border-radius:.625rem;-ms-flex:1;flex:1;isolation:isolate;padding:1rem;position:relative;transition:#000000 .3s ease;width:100%;}
.artist-card:hover                  {background-color:#252525;}
.card-img                           {padding-bottom:100%;position:relative;width:100%;margin-bottom:1rem;}
.artist-img                         {position:absolute;border-radius:50%;top:0rem;left:0rem;width:100%;height:100%;}
.card-text                          {display:flex;flex-direction:column;color: #F0F0F0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;min-height:65px;}
.card-text a                        {display:inline-block;max-width:100%;vertical-align:middle;}
.artist-name                        {box-sizing:border-box;margin-block:0rem;font-size:1rem;font-weight:750;padding-block-end:.5rem;}
.artist-categorie                   {color:#888888;font-weight:500;font-size:.875rem;}
.play                               {position:relative;}
.play .fa-play                      {position:absolute;right:.625rem;top:15rem;padding:1.25rem;background-color:#1DB955;border-radius:100%;font-size:1rem;opacity:0;transition:all ease 0.4s;}  
.artist-card:hover .play .fa-play   {opacity:1;transform:translateY(-1.25rem);}
.play .fa-play:hover                {padding:1.25rem;cursor:pointer;}
#artist-result                      {padding:1.25rem 2.5rem;}
/*Media Query*/
@media screen and(max-width:100rem){.search{/*display:none !important;*/display:none;width:auto !important;}}
                           /*.login .signup{font-size:12px !important;margin-right:5px          !important;padding:10px !important;}
                                                                  .offer-list-item{grid-template-columns:    1fr 1fr    !important;}*/
@media screen and(min-width:100rem)and(max-width:115rem){.search{/*display:none !important;*/display:none;width:auto    !important;}}
                                                                /*.offer-list-item{grid-template-columns:1fr 1fr 1fr    !important;}*/
@media screen and(max-width: 50rem)                     {.playlist-main      {    display:   none;}
                                                         .playlist-container {      width:   100%;/* Occupy All Available Width*/
                                                                                   height:   auto;/* Automatic Height, According to Content*/}
                                                         .sidebar  {                width:  50rem;}
                                                         .list-item{grid-template-columns:    1fr;}
                                                         .scroll   {           overflow-y:visible;}}
